<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>000000</key>
	<dict>
		<key>page</key>
		<string>SYRouterMainViewController</string>
		<key>description</key>
		<string>路由主页面</string>
	</dict>
	<key>000002</key>
	<dict>
		<key>page</key>
		<string>SYRouterGreyViewController</string>
		<key>description</key>
		<string>路由灰色界面</string>
	</dict>
	<key>000001</key>
	<dict>
		<key>page</key>
		<string>SYRouterGreenViewController</string>
		<key>description</key>
		<string>路由绿色页面</string>
	</dict>
	<key>000003</key>
	<dict>
		<key>page</key>
		<string>SYRouterInnerLinkViewController</string>
		<key>description</key>
		<string>路由内链页面</string>
	</dict>
</dict>
</plist>
